@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: rgb(255, 255, 255);
    --border-radius: 10px;
    --font-result: 25px;
    --background-color: #141e30;
    --background-grandient: linear-gradient(90deg, #36d1dc 0%, #5b86e5 100%);
    --font-family: 'Lato', sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    /* background-image: var(--background-grandient); */
    font-size: 62.2%;
}

form {
    margin: 3vh 0;
}

h1 {
    max-width: 1400px;
    min-width: 360px;
    font-family: 'Geologica', sans-serif;;
    text-align: center;
    font-size: 6em;
    background-color: var(--font-color);
    color:  var(--background-color);
    display: block;
    height: 3em;
    padding-top: .8em;


}

.inputData {
    color: var(--font-color);
    font-family: 'Lato', sans-serif;
    text-align: center;
}


#CPFValidator {
    background-color: #14141400;
    font-size: 19px;
    color: var(--font-color);
    border-radius: var(--border-radius);
    border-color: white;
    border-style: solid;
    height: 50px;
    min-width: 19em;
    max-width: 23em ;
    outline: 0;
    margin-top: 10px;
    text-align: center;
}

.result {
    margin: 0 auto;
    font-family: var(--font-family);
    color: white;
    
    font-size: var(--font-result);
    margin-top: 13.5px;
    border-radius: var(--border-radius);
    height: 45px;
    width: 14em;
}

.result::before {
    text-align: center;
    transform: translateX(50px);
    display: inline-block;
    padding-top: 5px;
    border-radius: var(--border-radius);
    width: 14.2em;
    height: 40px;
    font-size: var(--font-result);
    color: var(--font-color);
    animation: 0.5s ease-in-out 0s 1 normal forwards running valido;

}

@keyframes valido {
    from {
        transform: translate3d(0px, 52px, 0px);
        opacity: 0;
    }

    to {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes invalido {
    from {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }

    to {
        transform: translate3d(0px, 52px, 0px);
        opacity: 0;
    }
}


p {
    color: var(--font-color);
    font-family: var(--font-family);
    text-align: center;
    padding: .2em;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 35px;
}

.icon {
    margin: 7em 0;
    text-align: center;
}

.icon > svg {
    width: 250px;
    height: 200px;
    stroke: #ffffff;
    stroke-width: .7;
}